.bubble {
	&-wrapper {
		max-width: 640px;
		margin: 0 32px 8px 8px;
		font-family: 'Roboto', sans-serif;
		display: flex;
		flex-direction: row;
		gap: 8px;
		align-items: flex-end;
	}

	&-avatar {
		min-width: 48px;
		height: 48px;
		background-color: #d9d9d9;
		border-radius: 50%;
		margin-bottom: 18px;

		img {
			width: 100%;
			height: 100%;
			border-radius: 50%;
			object-fit: cover;
		}
	}

	&-message {
		display: flex;
		flex-direction: column;
		gap: 4px;
	}

	&-text {
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
		color: #666666;
		padding: 8px 14px;
		background-color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 12px 12px 12px 4px;
	}

	&-auth-name {
		font-weight: 700;
		font-size: 14px;
		line-height: 14px;
		color: #a2a2a2;
		font-style: italic;
	}
}
